In [13]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv('diamonds.csv')
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [15]:
missing_data = df.isnull().sum()
missing_data

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [25]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['color'] = le.fit_transform(df['color'])
df['cut'] = le.fit_transform(df['cut'])
df['clarity'] = le.fit_transform(df['clarity'])
df.drop('Unnamed: 0', axis=1, inplace=True)

df.head(20)

    carat  cut  color  clarity  depth  table  price     x     y     z
0    0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1    0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2    0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3    0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4    0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75
5    0.24    4      6        7   62.8   57.0    336  3.94  3.96  2.48
6    0.24    4      5        6   62.3   57.0    336  3.95  3.98  2.47
7    0.26    4      4        2   61.9   55.0    337  4.07  4.11  2.53
8    0.22    0      1        5   65.1   61.0    337  3.87  3.78  2.49
9    0.23    4      4        4   59.4   61.0    338  4.00  4.05  2.39
10   0.30    1      6        2   64.0   55.0    339  4.25  4.28  2.73
11   0.23    2      6        4   62.8   56.0    340  3.93  3.90  2.46
12   0.22    3      2        2   60.4   61.0    342  3.88  3.84  2.33
13   0.31    2      6        3   62.2   54.0    344  4.35  4.37  2.71
14   0.20    3      1        3   60.2   62.0    345  3.79  3.75  2.27
15   0.32    3      1        0   60.9   58.0    345  4.38  4.42  2.68
16   0.30    2      5        3   62.0   54.0    348  4.31  4.34  2.68
17   0.30    1      6        2   63.4   54.0    351  4.23  4.29  2.70
18   0.30    1      6        2   63.8   56.0    351  4.23  4.26  2.71
19   0.30    4      6        2   62.7   59.0    351  4.21  4.27  2.66

In [29]:
from sklearn.model_selection import train_test_split

x = df.drop('price', axis=1)  # Features
y = df['price']               # Target variable
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=42)

AttributeError: 'numpy.ndarray' object has no attribute 'drop'